doctype html
html
  head
    title ddddd
    style
      include style.css
  body
    div.container
      div!= self.markdown('http://www.baidu.com ; ~~~<a href="ddd">dddd</a>ddtet~~~; **33** <pre>var a = demo </pre>')
    //- div= location.herf


