doctype

include mixins.pug

html
    head
        meta(charset="utf-8")
        title= 'API Documentation'
        style
            include style/default.css
            //- include style/cyborg.css
            //- include style/flatly.css
            //- include style/slate.css
            //- include style/streak.css
            include style/custom.css

    body.preload
        div.container-fluid
            .row
                block nav
                    +Nav()

                .content
                    block content
                        +Content()

        script: include scripts.js



