doctype

include mixins.pug

html
    head
        meta(charset="utf-8")
        title= 'API Documentation'
        link(rel="stylesheet", href="/assets/fontawesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/assets/default.css")
        link(rel="stylesheet", href="/assets/custom.css")

    body.preload
        div.container-fluid
            .row
                block nav
                    +Nav()

                .content
                    block content
                        +Content()

        script: include scripts.js



